<div class="row">
  
      <div class="col-sm-6 ">
  
          <div class="row">
             
              <div class="col-6 ">
                    <a href="/biceps-bench">
                  <div class="card">
                      <img class="card-img-top img-responsive" src="/assets/images/dashboard/biceps.jpg" alt="Card image cap">
                      <div class="card-block">
                          <h4 class="card-title text-center">biceps-bench</h4>
                      </div>
                  </div>
                </a>
              </div>
  
          </div>
      </div>
  
      
  
  </div>
  
  
  
  